body {
  background-color: #111;
  color: #aaa;
  margin: 12px;
}

body, p, ol, ul, td, input {
  font: 9pt arial narrow, arial, sans-serif;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px #000;
}

h1 {
  font-weight: normal;
  font-size: 14pt;
  letter-spacing: -0.05em;
  word-spacing: 0.25em;
  margin: 0 0 8px 0;
}

.category {
  border: 1px solid #333;
  border-width: 1px 1px 0 1px;
  margin-left: 160px;
}

.category:last-child {
  border-bottom-width: 1px;
}

.category tbody {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.active th, td {
  border: 1px solid #444;
  border-width: 0 0 1px 0;
}

tbody tr:last-child td {
  border-bottom-width: 0;
}

tr:hover th, tr:hover td {
  background-color: #444;
}

tr.default:hover td {
  background-color: #666;
}

th {
  background-color: #000;
  text-align: left;
  font-weight: normal;
  padding: 4px;
}

th:first-child:before {
  content: '\25b6';
  margin: 0 4px;
  vertical-align: 10%;
}

.active th:first-child:before {
  content: '\25bc';
}

tr.default {
  background-color: #222;
}

td {
  padding-left: 12px;
}

.form {
  text-align: center;
  float: left;
  margin-right: 8px;
  margin-top: -2px;
  width: 150px;
}

input {
  border: 1px solid #333;
  background-color: #000;
  color: #aaa;
  margin-bottom: 8px;
}

input[type=text] {
  width: 146px;
}

input[type=text]:focus {
  border-color: #ccc;
}

input[type=text].inactive {
  color: #555;
  text-align: left;
}

input[type=text], .value {
  text-align: right;
}

input[type=submit] {
  text-transform: uppercase;
  margin-top: 16px;
  width: 150px;
}

.isk:after {
  content: ' ISK';
}

.msup3:after {
  content: ' m\b3';
}

.s:after {
  content: ' s';
}

.hrs:after {
  content: ' hours';
}
