body {
  background-color: #111;
  color: #aaa;
  margin: 8px;
}

body, p, ol, ul, td {
  font: 10px arial narrow, arial, sans-serif;
}

h1 {
  font-weight: normal;
  letter-spacing: -0.1em;
  word-spacing: 0.25em;
  margin: 0 0 8px 0;
}

table {
  border: 1px solid #333;
  border-collapse: collapse;
  background-color: #000;
  width: 200px;
}

div.form {
  text-align: center;
  float: left;
  margin-right: 8px;
  width: 150px;
}

input {
  border: 1px solid #333;
  background-color: #000;
  color: #aaa;
  margin-bottom: 8px;
}

input[type=text] {
  width: 146px;
}

input[type=text]:focus {
  border-color: #ccc;
}

input[type=text].inactive {
  color: #555;
  text-align: left;
}

input[type=text], .value {
  text-align: right;
}

input[type=submit] {
  text-transform: uppercase;
  width: 150px;
}

.isk:after {
  content: ' ISK';
}

.msup3:after {
  content: ' m\b3';
}

.s:after {
  content: ' s';
}
